<a href="https://colab.research.google.com/github/uuu4/ml_bootcamp/blob/main/ml_bootcamp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#preprocessing and pandas dummy method

In [ ]:
# dataset : https://www.kaggle.com/datasets/jacklacey/audi-a1-listings

In [19]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [20]:
df = pd.read_csv("audi.csv")

In [21]:
df.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

In [22]:
df = df.drop(columns=['index','href','MileageRank','PriceRank','PPYRank','Score'])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              471 non-null    float64
 1   Type              471 non-null    object
 2   Mileage(miles)    471 non-null    float64
 3   Engine            471 non-null    object
 4   PS                471 non-null    float64
 5   Transmission      471 non-null    object
 6   Fuel              471 non-null    object
 7   Number_of_Owners  471 non-null    int64
 8   Price(£)          471 non-null    float64
 9   PPY               471 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 36.9+ KB

In [24]:
df.columns = ["year","type","miles","engine","ps","vites","fuel","owner","price","ppy"]

In [25]:
df['engine']= df['engine'].str.replace("L","")

In [26]:
pd.to_numeric(df['engine'])

0      1.6
1      1.0
2      1.4
3      1.6
4      1.6
      ...
466    1.4
467    1.0
468    1.4
469    1.0
470    1.0
Name: engine, Length: 471, dtype: float64

In [38]:
 df = pd.get_dummies(df,columns=["type","vites","fuel"],drop_first=True)

In [39]:
y = df[['price']]
x = df.drop('price',axis=1)

In [40]:
lm = LinearRegression()
model = lm.fit(x,y)

In [46]:
model.predict([[2017,30000,1.6,110,1,2600,0,1]])

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13145.9080419]])

In [48]:
model.score(x,y) # 95.95 accuracy

0.9595295772839731